/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
}

.left-menu, .right-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.left-menu {
    justify-content: center;
    background-color: #057b0f;
}

.right-menu {
    overflow-y: auto;
    background-color: #ffffff;
}
.clickable-button {
    width: 220px; /* Ajuste o tamanho conforme necessário */
    height: 230px;
    background-image: url('/static/turtle.png');
    background-size: cover;
    border: none; /* Remove a borda padrão */
    cursor: pointer;
    padding: 0; /* Remove o padding padrão */
    font-size: 0; /* Remove qualquer texto visível */
    outline: none; /* Remove a borda de foco ao clicar */
    background-color: #057b0f;
}

.clickable-button:active {
    transform: scale(0.95); /* Adiciona um efeito ao clicar */
}


.rewards, .items {
    margin-top: 20px;
}
#passive-reward, #total-rewards, #armor-forges, #training-centers, #click-reward, #hard-shells, #hammer-houses {
    font-weight: bold;
}

.buy-button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #107214;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buy-button:hover {
    background-color: #6ce472;
}

.buy-button p {
    margin: 0;
    font-size: 12px;
}

/* Estilo para o texto flutuante */
.float-text {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    pointer-events: none; /* Desabilita interações com o texto flutuante */
    animation: floatUp 1s ease-out forwards; /* Animação de flutuar para cima */
}

/* Animação para o texto flutuante */
@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-90px); /* O texto se move 50px para cima */
    }
}

.notification-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.notification.show {
    opacity: 1;
}