<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="game-container">
        <div class="left-menu">
            <p>Clique na tartaruga</p>
            <button id="clickable" class="clickable-button">Clique Aqui!</button>
            <div class="rewards">
                
                <p>Recrutamento por Clique: <span id="click-reward">1</span> moedas</p>
                <p>Recrutamento Passivo: <span id="passive-reward">0</span> por segundo</p>
                
            </div>
        </div>
        <p>Moedas: <span id="coins">0</span></p>
        <p>Tartarugas de Armadura treinadas: <span id="total-rewards">0</span></p>
        <div class="right-menu">
            <h2>Itens para Comprar</h2>
            <button id="buy-training-center" class="buy-button">
                Comprar Centro de Treinamento (Custo: <span id="training-cost">10</span>)
                <p>Descricao: Aumenta o recrutamento passivo em 1 por segundo.</p>
                <p>Comprados: <span id="training-centers">0</span></p>
            </button>
            <button id="buy-armor-forge" class="buy-button">
                Comprar Forja de Armadura (Custo: <span id="armor-cost">50</span>)
                <p>Descricao: Aumenta o ganho por clique em 1.</p>
                <p>Compradas: <span id="armor-forges">0</span></p>
            </button>
            <button id="buy-hard-shell-house" class="buy-button">
                Comprar Casa do Casco Duro (Custo: <span id="hard-shell-cost">150</span>)
                <p>Descricao: Aumenta o recrutamento passivo em 3 por segundo.</p>
                <p>Compradas: <span id="hard-shells">0</span></p>
            </button>
            <button id="buy-hammer-house" class="buy-button">
                Comprar Casa Do Martelo (Custo: <span id="hammer-cost">180</span>)
                <p>Descricao: Aumenta o ganho por clique em 3.</p>
                <p>Compradas: <span id="hammer-houses">0</span></p>
            </button>
            <button id="buy-research-center" class="buy-button">
                Comprar Centro de Pesquisa (Custo: <span id="research-cost">760</span>)
                <p>Descricao: Reduz os custos dos proximos upgrades em 6%.</p>
                <p>Comprados: <span id="research-centers">0</span></p>
            </button>
            <button id="buy-enchanted-library" class="buy-button">
                Comprar Biblioteca Encantada (Custo: <span id="library-cost">1400</span>)
                <p>Descricao: Aumenta a eficiencia de todos os upgrades em 12%.</p>
                <p>Compradas: <span id="enchanted-libraries">0</span></p>
            </button>
            <button id="buy-diamond-furnace" class="buy-button">
                Comprar Forno de Diamante (Custo: <span id="furnace-cost">2000</span>)
                <p>Descricao: Aumenta o valor por clique em 10 moedas e o recrutamento passivo em 10 moedas por segundo.</p>
                <p>Compradas: <span id="diamond-furnaces">0</span></p>
            </button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
